<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>资源管理</title>
    <link th:href="@{/resources/iview/styles/iview.css}" rel="stylesheet">
    <style scoped>
        [v-cloak] {
            display: none;
        }


    </style>
</head>
<body>

<div id="app">
    <div class="layout" ref="layout" v-cloak>
        <i-row>
            <i-col span="24" style="text-align: right;margin-bottom: 10px;">
                <i-button ref="addBtn" type="primary" @click="add()" icon="plus-round">新增</i-button>
            </i-col>
        </i-row>
        <i-row>
            <i-col span="24">
                <i-table border stripe :columns="columns" :data="dataList" :height="tableHeight"></i-table>
            </i-col>
        </i-row>
    </div>
    <modal v-model="modal" title="编辑资源" @on-ok="save" @on-cancel="cancel">
        <div :style="{ height:modalHeight+'px'}" style="padding: 10px 20px;max-width:1000px;margin:auto;overflow: auto;">
            <i-form ref="editForm" :model="editForm" :label-width="80" style="padding: 10px 20px;">
                <form-item label="资源名称">
                    <i-input type="text" v-model="editForm.name" placeholder="资源名称"></i-input>
                </form-item>
                <form-item label="资源地址">
                    <i-input type="text" v-model="editForm.url" placeholder="资源地址"></i-input>
                </form-item>
            </i-form>
        </div>
    </modal>

</div>

<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/common.js}"></script>
<script type="text/javascript" th:src="@{/resources/iview/vue.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/iview/iview.min.js}"></script>
<script type="text/javascript">

    var resourcesEntity = function () {
        return {
            id: "",
            name: "",
            url: "",
        }
    }

    var app = new Vue({
        el: '#app',
        data: {
            //
            listUrl: __webRoot + "/platform/resource/list",
            saveUrl: __webRoot + "/platform/resource/save",
            deleteUrl: __webRoot + "/platform/resource/delete",
            //
            tableHeight: 200,
            modal: false,
            modalHeight: 200,

            dataList: [],
            resourceList: [],
            editForm: resourcesEntity(),
            columns: [{
                title: '序号',
                key: 'id',
                width: 80,
                align: "center",
                type: "index"
            }, {
                title: '资源名称',
                key: 'name',
            }, {
                title: '资源地址',
                key: 'url'
            }, {
                title: '创建时间',
                align: "center",
                key: 'createTime',
                width: 200,
                render: function (h, params) {
                    return h("div", new Date(params.row.createTime).pattern());
                }
            }, {
                title: '操作',
                key: 'action',
                width: 200,
                render: function (h, params) {
                    var btns = [];
                    btns.push(h('Button', {
                        props: {
                            type: 'info',
                            size: 'small'
                        },
                        style: {
                            marginRight: '5px'
                        },
                        on: {
                            click: function () {
                                app.edit(params.row)
                            }
                        }
                    }, '编辑'));

                    btns.push(h('Poptip', {
                        props: {
                            "placement": "top-end",
                            "confirm": true,
                            "title": '确定删除?',
                            "ok-text": "确定",
                            "cancel-text": "取消"
                        },
                        style: {
                            //textAlign: 'left'
                        },
                        on: {
                            "on-ok": function () {
                                app.remove(params.row)
                            },
                            "on-cancel": function () {
                            }
                        }
                    }, [h('Button', {
                        props: {
                            "type": 'error',
                            "size": 'small'
                        }
                    }, '删除')]));
                    return h('div', [btns]);
                }
            }]
        },
        mounted: function () {
            this.tableHeight = $(window).innerHeight() - 60;
            //this.modalHeight = $(window).innerHeight() * 0.6;
            this.loadDataList();
        },
        methods: {
            loadDataList: function () {
                var self = this;
                $.ajaxGet(self.listUrl, {}, function (rs) {
                    if (rs.code == "0000") {
                        self.dataList = rs.data;
                    }
                });
            },
            add: function (parent) {
                this.editForm = resourcesEntity();
                this.modal = true;
            },
            save: function () {
                var self = this;
                var body = JSON.stringify(this.editForm);
                $.ajaxPostBody(self.saveUrl, body, function (rs) {
                    if (rs.code != "0000") {
                        self.$Message.error(rs.msg);
                    } else {
                        self.$Message.success("操作成功");
                    }
                    self.loadDataList();
                });
            },
            cancel: function () {

            },

            //编辑
            edit: function (row) {
                var self = this;
                this.editForm = row;
                this.modal = true;
            },

            remove: function (row) {
                var self = this;
                $.ajaxPost(self.deleteUrl, {id: row.id}, function (rs) {
                    if (rs.code != "0000") {
                        self.$Message.error(rs.msg);
                    } else {
                        self.$Message.success("操作成功");
                    }
                    self.loadDataList();
                });
            }


        }
    });
</script>
</body>
</html>