<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>用户管理</title>
    <link th:href="@{/resources/iview/styles/iview.css}" rel="stylesheet">
    <style scoped>
        [v-cloak] {
            display: none;
        }


    </style>
</head>
<body>

<div id="app">
    <div class="layout" ref="layout" v-cloak>
        <i-row>
            <i-col span="18">
                <i-form ref="queryForm" :model="queryForm" :label-width="60" inline>
                    <form-item label="关键字">
                        <i-input type="text" clearable v-model="queryForm.searchText" placeholder="关键字"></i-input>
                    </form-item>
                    <form-item label="开始日期">
                        <date-picker type="date" v-model="queryForm.startDate" @on-change="queryForm.startDate=$event" placeholder="注册日期"
                                     style="width: 200px"></date-picker>
                    </form-item>
                    <form-item label="截止日期">
                        <date-picker type="date" v-model="queryForm.endDate" @on-change="queryForm.endDate=$event" placeholder="注册日期"
                                     style="width: 200px"></date-picker>
                    </form-item>
                    <i-button type="primary" @click="loadDataList()" icon="ios-search">查询</i-button>
                </i-form>
            </i-col>
            <i-col span="6" style="text-align: right;">
                <i-button type="primary" @click="add()" icon="plus-round">新增</i-button>
            </i-col>
        </i-row>
        <i-row>
            <i-col span="24">
                <i-table border stripe :columns="columns" :data="dataList" :height="tableHeight"></i-table>
                <page :page-size="pageSize" :current="pageNumber" :total="total" show-total show-sizecr @on-change="loadDataList"></page>
            </i-col>
        </i-row>
    </div>
    <modal v-model="modal" title="编辑用户信息" @on-ok="save" @on-cancel="cancel">
        <div :style="{ height:modalHeight+'px'}" style="padding: 10px 20px;max-width:1000px;margin:auto;overflow: auto;">
            <i-form ref="editForm" :model="editForm" :label-width="80" style="padding: 10px 20px;">
                <form-item label="账号">
                    <i-input type="text" v-model="editForm.username" placeholder="账号" :disabled="editForm.id!=null"></i-input>
                </form-item>
                <form-item label="姓名">
                    <i-input type="text" v-model="editForm.realName" placeholder="姓名"></i-input>
                </form-item>
                <form-item label="出生日期">
                    <i-input type="text" v-model="editForm.birthday" placeholder="出生日期"></i-input>
                </form-item>
                <form-item label="性别">
                    <i-input type="text" v-model="editForm.gender" placeholder="性别"></i-input>
                </form-item>
                <form-item label="联系方式">
                    <i-input type="text" v-model="editForm.contactInformation" placeholder="联系方式"></i-input>
                </form-item>
                <form-item label="启用">
                    <i-switch v-model="editForm.enabled" :true-value="trueValue" :false-value="falseValue"></i-switch>
                </form-item>
            </i-form>
        </div>
    </modal>
</div>

<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/common.js}"></script>
<script type="text/javascript" th:src="@{/resources/iview/vue.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/iview/iview.min.js}"></script>
<script type="text/javascript">

    var userEntity = function () {
        return {
            id: "",
            username: "",
            realName: "",
            birthday: "",
            gender: "",
            contactInformation: "",
            enabled: YesOrNo.yes,
        }
    }

    var app = new Vue({
        el: '#app',
        data: {
            //
            listUrl: __webRoot + "/platform/user/list",
            saveUrl: __webRoot + "/platform/user/save",
            //
            tableHeight: 200,
            modal: false,
            modalHeight: 500,

            queryForm: {
                searchText: "",
                startDate: "",
                endDate: "",
            },

            total: 0,
            pageNumber: 1,
            pageSize: 10,
            dataList: [],
            menuList: [],
            editForm: userEntity(),
            trueValue: YesOrNo.yes,
            falseValue: YesOrNo.no,
            columns: [{
                title: '序号',
                key: 'id',
                width: 80,
                align: "center",
                type: "index"
            }, {
                title: '账号',
                key: 'username',
            }, {
                title: '姓名',
                key: 'realName'
            }, {
                title: '性别',
                key: 'gender'
            }, {
                title: '出生日期',
                key: 'birthday'
            }, {
                title: '联系方式',
                key: 'contactInformation'
            }, {
                title: '状态',
                key: 'status',
                align: "center",
                width: 120,
                render: function (h, params) {
                    var color = params.row.enabled? 'success' : 'error';
                    var text = params.row.enabled? '正常' : '禁用';
                    return h('tag', {
                        props: {
                            type: "dot",
                            color: color
                        }
                    }, text);
                }
            }, {
                title: '创建时间',
                align: "center",
                key: 'createTime',
                width: 200,
                render: function (h, params) {
                    return h("div", new Date(params.row.createTime).pattern());
                }
            }, {
                title: '操作',
                key: 'action',
                width: 200,
                render: function (h, params) {
                    var btns = [];
                    btns.push(h('Button', {
                        props: {
                            type: 'info',
                            size: 'small'
                        },
                        style: {
                            marginRight: '5px'
                        },
                        on: {
                            click: function () {
                                app.edit(params.row)
                            }
                        }
                    }, '编辑'));
                    return h('div', [btns]);
                }
            }]
        },
        mounted: function () {
            this.tableHeight = $(window).innerHeight() - 60;
            this.modalHeight = $(window).innerHeight() * 0.6;
            this.loadDataList();
        },
        methods: {
            loadDataList: function () {
                var self = this;
                $.ajaxGet(self.listUrl, {
                    pageNumber: self.pageNumber,
                    pageSize: self.pageSize,
                    searchText: self.queryForm.searchText,
                    startDate: self.queryForm.startDate ? self.queryForm.startDate.pattern() : "",
                    endDate: self.queryForm.endDate ? self.queryForm.endDate.pattern() : "",
                }, function (res) {
                    if (res.code == "0000" && res.data) {
                        self.dataList = res.data.content;
                        self.total = res.data.totalElements;
                    }
                });
            },
            add: function (parent) {
                this.editForm = userEntity();
                this.modal = true;
            },
            save: function () {
                var self = this;
                var body = JSON.stringify(this.editForm);
                $.ajaxPostBody(self.saveUrl, body, function (rs) {
                    if (rs.code != "0000") {
                        self.$Message.error(rs.msg);
                    } else {
                        self.$Message.success("操作成功");
                    }
                    self.loadDataList();
                });
            },
            cancel: function () {

            },

            //编辑
            edit: function (row) {
                var self = this;
                this.editForm = row;
                this.modal = true;
            },

        }
    });
</script>
</body>
</html>